extends layout

block content
  h1= title
  p Welcome to #{title}
  p !{JSON.stringify(exps)}
  div("id" = "graph0")
  div("id" = "graph1")
  div("id" = "graph2")
  div("id" = "graph3")
  div("id" = "graph4")
  div("id" = "graph5")
  div("id" = "graph6")
  div("id" = "graph7")
  div("id" = "graph8")
  div("id" = "graph9")
  div("id" = "graph10")
  div("id" = "graph11")
  div("id" = "graph12")
  div("id" = "graph13")
  div("id" = "graph14")
  div("id" = "graph15")
  div("id" = "graph16")
  script var data = !{JSON.stringify(exps)}