doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content
  script(src='/javascripts/plotly-latest.min.js')
  script(src='/javascripts/graphit.js')